<html>
    <body>
        <div>
		    Hallo [:RECEPIENT:],<br /><br />
            du glaubst mit dieser Masche groß in Bitcoins abkassieren zu können, täusch dich mal nicht.<br />
            Solche Aktionen können voll in die Hose gehen und dann ist das Geschrei groß.<br />
            Du bist entlarvt. Freue dich auf den Besuch eines Sondereinsatzkommandos.<br /><br />
            <span style="color:#800000; font-weight:bold;">Der Anti-Hacker</span>
        </div>
        <img src="cid:logo.png" width="100">
    </body>
</html>