<html>
    <body>
        <div>
		    Hallo [:RECEPIENT:],<br /><br />
            die neue Masche um an Bitcoins zu kommen, funktioniert genauso weinig wie die alte.<br />
			Am 28.03.2019 bist Du uns, durch den Versuch einen pr&auml;parierten Router zu hacken, in Falle gegangen.<br />
			Dein Netz wurde von uns mit einem Trojaner infiziert, den Du nicht finden kannst, uns aber all Deine Aktivit&auml;ten verr&auml;t.<br />
			Wir wissen wer Du bist. Anhand der Ausdrucksweise mit mangelnden Deutschkenntnissen l&auml;sst sich erkennen,<br />
            dass Du eine Person mit Migrationshintergrund bist.<br />
			Politik und Staat versagen vollständig im Umgang mit kriminellen Migranten, deshalb arbeiten wir au&szlig;erhalb der Gesetze.<br />
			Du und Deine ganze Familie werden still und ohne Aufsehen in Euer Heimatland zur&uuml;ckgebracht.<br />
			Den Zeitpunkt bestimmen wir!<br />
			Eine M&ouml;glichkeit, jemals wieder nach Deutschland zu kommen, existiert nicht.<br /><br />
            <span style="color:#800000; font-weight:bold;">Die Anti-Hacker</span>
        </div>
        <img src="cid:logo.png" width="100">
    </body>
</html>